p {
    font-size: 1.8rem;
  }
.stats {
    text-align: left;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info span {
    font-size: 1.6rem;
  }

#span {
  font-size: 1.5rem;
  font-weight: 400;
  color: red;
  padding: 5px 0;
}

#span__corelacao {
  font-size: 1.5rem;
  color: inherit;
}


